<!DOCTYPE html>
<html>
<head>

	<title>Vangogh 2.0</title>
	<link rel="stylesheet" type="text/css" href="static/main.css?v=2">
	<link href="https://fonts.googleapis.com/css?family=Lato:300|Roboto:100" rel="stylesheet">
	<script src="static/jquery.min.js"></script>

</head>
<body>



<img src="static/icons/index-bg.png" id="main-bg">

<div id="main-title">PRISM</div>
<div id="main-sub-title">search engine for color palettes</div>
<input id="main-search" type="text" name="search" placeholder="Search for palettes..">
<img src="static/icons/search.png" id="main-search-icon">
<div id="main-or">or</div>
<div id="main-vangogh-image">Upload an image</div>

<div id="main-desc">PRISM uses <i>machine learning</i> to generate color palettes associated with the search term</div>
<div id="main-prompt">try searching for</div><div id="main-prompt-list-holder"><div id="main-prompt-list">joy</div></div>

<div id="main-working">how PRISM works</div>


</body>
<script type="text/javascript" src="static/main.js?v=2"></script>
</html>