<!DOCTYPE html>
<html>
<head>

	<title>Vangogh - Search</title>
	<link rel="stylesheet" type="text/css" href="../../static/main.css?v=2">
	<link href="https://fonts.googleapis.com/css?family=Lato:300|Roboto:100" rel="stylesheet">
  	<script type="text/javascript" src="../../static/jquery.min.js"></script>
  	<link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon" />
</head>
<body>


<div id="loaded">
<img src="../../static/img/overlays/dash-overlay-1.png" class="dash-overlay" id="dash-overlay-0">
<img src="../../static/img/overlays/dash-overlay-2.png" class="dash-overlay" id="dash-overlay-1">
<img src="../../static/img/overlays/dash-overlay-3.png" class="dash-overlay" id="dash-overlay-2">
<img src="../../static/img/overlays/dash-overlay-4.png" class="dash-overlay" id="dash-overlay-3">
<img src="../../static/img/overlays/dash-overlay-5.png" class="dash-overlay" id="dash-overlay-4">

<img src="../../static/img/icons/moon.png" id="dark-btn">
<img src="../../static/img/icons/sun.png" id="light-btn">

<div id="nav-pane">
	<div class="nav-links nav-links-sel" id="nav-search-link"><a href="/home">Home</a></div>
	<div class="nav-links " id="nav-image-link"><a href="/image">Upload image</a></div>
	<div class="nav-links " id="nav-blog-link"><a href="/what">About</a></div>
	<div class="nav-links " id="nav-help-link">Help</div>
</div>
<img src="../../static/img/loader.gif" id="dash-loader">

<canvas id="palette-canvas" width="960px" height="540px" style="display: none;"></canvas>
<div id="main-full-plot"></div>
<img src="../../static/img/icons/close.png"  class ="full-btn" id="full-close-btn">
<img src="../../static/img/icons/pause.png" class="rot-stop-btn" id="full-rot-btn"/>

<div id="dash-error-msg"></div>
<div id="main-dash">
	<input id="dash-search"type="text" name="dash-search" placeholder="Search for palettes..">
	<img src="../../static/img/icons/search.png" id="dash-search-icon">
	<div id="palette-size-text">palette size</div>
	<div id="palette-size-pane">
		<div class="palette-size-opt">3</div>
		<div class="palette-size-opt palette-size-opt-sel">4</div>
		<div class="palette-size-opt">5</div>
		<div class="palette-size-opt">6</div>
		<div class="palette-size-opt">7</div>
		<!--<div class="palette-size-change">-</div><span id="palette-size-val"></span><div class="palette-size-change">+</div>-->
	</div>
	<div id="dash-load"></div>
	<div id="main-scatter-plot"></div>
	<img src="../../static/img/icons/pause.png" class="rot-stop-btn" id="main-rot-btn"/>
	<img src="../../static/img/icons/full.png" class="full-btn" id="main-full-btn" />
	

	<div id="palette-pane"></div>
	<div id="cluster-pane"></div>
	<a id="swatch-download" download="VANGOGH.png"><img src="../../static/img/icons/download.png" id="dash-swatch"></a>
	<div id="dash-color-code"></div>
	<div id="dash-color-space">
		<div id="dash-optn-hex" class="dash-color-space-opt dash-color-space-opt-sel">HEX</div>
		<div id="dash-optn-rgb" class="dash-color-space-opt ">RGB</div>
		<div id="dash-optn-hsl" class="dash-color-space-opt ">HSL</div>		
	</div>
	<img src="../../static/img/icons/refresh.png" id="dash-refresh">
	

</div>
</body>
<script type="text/javascript" src="../../static/plotly-gl3d-latest.min.js"></script>
<script type="text/javascript">	
	var head = document.getElementsByTagName('head')[0];
	var mainjs = document.createElement("script");
	var jquery = document.createElement("script");
	var plotly = document.createElement("script");
	var mobile = false;

	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Opera Mobile|Kindle|Windows Phone|PSP|AvantGo|Atomic Web Browser|Blazer|Chrome Mobile|Dolphin|Dolfin|Doris|GO Browser|Jasmine|MicroB|Mobile Firefox|Mobile Safari|Mobile Silk|Motorola Internet Browser|NetFront|NineSky|Nokia Web Browser|Obigo|Openwave Mobile Browser|Palm Pre web browser|Polaris|PS Vita browser|Puffin|QQbrowser|SEMC Browser|Skyfire|Tear|TeaShark|UC Browser|uZard Web|wOSBrowser|Yandex.Browser mobile/i.test(navigator.userAgent)) mobile = true;

	if(mobile)
    { 
    	mainjs.src = "../../static/mobile.js";
	}
	else
	{
    	plotly.src = "../../static/plotly-gl3d-latest.min.js";
    	mainjs.src = "../../static/main.js";
 	}
	head.appendChild(mainjs);
</script>
</html>