<!DOCTYPE html>
<html>
<head>

	<title>Vangogh - About</title>
	<link rel="stylesheet" type="text/css" href="static/main.css?v=2">
	<link href="https://fonts.googleapis.com/css?family=Lato:300|Roboto:100" rel="stylesheet">
	<script type="text/javascript" src="static/jquery.min.js"></script>

</head>
<body>




<img src="static/img/index-bg.png" id="main-bg">

<div id="nav-pane-about">
	<div class="nav-links" id="nav-search-link"><a href="/home">Search</a></div>
	<div class="nav-links" id="nav-image-link"><a href="/image">Upload image</a></div>
	<div class="nav-links nav-links-sel" id="nav-blog-link">About</div>
</div>



	<div id="about-pane"></div>
	<div id="about-list">
		<div class="about-list-name about-list-name-sel">What's it ?</div>
		<div class="about-list-name "><a href="/how">How does it work ?</a></div>
		<div class="about-list-name "><a href="sayhi">Say Hi !</a></div> 
	</div>
	<div id="about-title">What's it ?</div>
	<div id="about-about-content">
		Ever wanted the perfect color palette for <i>a winter evening, cherry blossom, sunset</i> ? VANGOGH generates color palettes for any search term. It uses Machine learning to generate color palettes from millions of images thats contextually related.<br/><br/>It's Freakin awesome.
	</div>
	

</body>
<script type="text/javascript" src="static/plotly-gl3d-latest.min.js"></script>
<script type="text/javascript">

	var head = document.getElementsByTagName('head')[0];
	var mainjs = document.createElement("script");
	var jquery = document.createElement("script");
	var plotly = document.createElement("script");
	var mobile = false;

	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Opera Mobile|Kindle|Windows Phone|PSP|AvantGo|Atomic Web Browser|Blazer|Chrome Mobile|Dolphin|Dolfin|Doris|GO Browser|Jasmine|MicroB|Mobile Firefox|Mobile Safari|Mobile Silk|Motorola Internet Browser|NetFront|NineSky|Nokia Web Browser|Obigo|Openwave Mobile Browser|Palm Pre web browser|Polaris|PS Vita browser|Puffin|QQbrowser|SEMC Browser|Skyfire|Tear|TeaShark|UC Browser|uZard Web|wOSBrowser|Yandex.Browser mobile/i.test(navigator.userAgent)) mobile = true;

	if(mobile)
    { 
    	mainjs.src = "static/mobile.js";
	}
	else
	{
    	mainjs.src = "static/main.js";		
    	
 	}
	head.appendChild(mainjs);
</script>
</html>